
.redSocial {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin: 1rem;
  }
  
  .enlace-red-social {
    width: 2.5rem;
    height: 2.5rem;
    margin: 1rem;
  }
  
  .nombre-red-social {
    margin: 1rem;
    width: 25vw;
  }
  
  .logo {
    width: 100%;
    height: 100%;
  }
  
  
  