.navbar {
    z-index: 1;
    width: 100vw;
    border-bottom: solid 1px rgb(0,0,0,0.2);
    cursor: pointer;
    display: flex;
    align-items: center;
    background-color: #fff ;
    position: fixed;
    top: 0; 
  }
  
  
  .elemento-navbar {
    padding: 1rem;
    text-decoration: none;
    font-weight: bold;
    color: #000;
    transition: all 0.5s;
  }
  
  .elemento-navbar:hover {
    color: #fff;
    background-color: blueviolet;
    transition: all 0.5s;
  }

  .navbar-dark {
    z-index: 2;
    width: 100vw;
    border-bottom: solid 1px rgb(0,0,0,0.2);
    cursor: pointer;
    display: flex;
    align-items: center;
    background-color: #3b3b3b ;
    position: fixed;
    top: 0; 
  }
  
  .elemento-navbar-dark {
    padding: 1rem;
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    transition: all 0.5s;
  }
  
  .elemento-navbar-dark:hover {
    background-color: blueviolet;
    transition: all 0.5s;
  }
  